body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #343A40;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: auto;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin-top: 40px;
}

@media 